<a href="https://colab.research.google.com/github/KodumuruRaja/Regularization-Algorithms/blob/main/Lasso%20and%20Ridge%20Regression%20(L1%20%26%20L2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
data=pd.read_csv("/content/Melbourne_housing_FULL.csv")

In [ ]:
data.head()

       Suburb             Address  ...             Regionname Propertycount
0  Abbotsford       68 Studley St  ...  Northern Metropolitan        4019.0
1  Abbotsford        85 Turner St  ...  Northern Metropolitan        4019.0
2  Abbotsford     25 Bloomburg St  ...  Northern Metropolitan        4019.0
3  Abbotsford  18/659 Victoria St  ...  Northern Metropolitan        4019.0
4  Abbotsford        5 Charles St  ...  Northern Metropolitan        4019.0

[5 rows x 21 columns]

In [ ]:
data.nunique()

Suburb             77
Address          7231
Rooms              10
Type                3
Price            1497
Method              9
SellerG           183
Date               36
Distance           61
Postcode           64
Bedroom2           11
Bathroom            9
Car                11
Landsize         1083
BuildingArea      414
YearBuilt         133
CouncilArea        18
Lattitude        2063
Longtitude       2369
Regionname          4
Propertycount      77
dtype: int64

In [ ]:
data.shape

(7315, 21)

In [ ]:
# selecting columns to use
cols_to_use=['Suburb','Rooms','Type','Method','SellerG','Regionname','Propertycount','Distance','CouncilArea','Bedroom2','Bathroom','Car','Landsize','BuildingArea','Price']
data=data[cols_to_use]

In [ ]:
data.head()

       Suburb  Rooms Type Method  ...  Car Landsize  BuildingArea      Price
0  Abbotsford      2    h     SS  ...  1.0    126.0           NaN        NaN
1  Abbotsford      2    h      S  ...  1.0    202.0           NaN  1480000.0
2  Abbotsford      2    h      S  ...  0.0    156.0          79.0  1035000.0
3  Abbotsford      3    u     VB  ...  1.0      0.0           NaN        NaN
4  Abbotsford      3    h     SP  ...  0.0    134.0         150.0  1465000.0

[5 rows x 15 columns]

In [ ]:
data.shape

(7315, 15)

In [ ]:
data.isna().sum()             #  data.isnull().sum()

Suburb              0
Rooms               0
Type                0
Method              0
SellerG             0
Regionname          1
Propertycount       1
Distance            0
CouncilArea         1
Bedroom2         1577
Bathroom         1577
Car              1577
Landsize         1583
BuildingArea     3998
Price            1685
dtype: int64

In [ ]:
# selected columns having null values are filling with zeros
cols_to_fill_zero=['Propertycount','Distance','Bedroom2','Bathroom','Car']
data[cols_to_fill_zero]=data[cols_to_fill_zero].fillna(0)

In [ ]:
data.isnull().sum()

Suburb              0
Rooms               0
Type                0
Method              0
SellerG             0
Regionname          1
Propertycount       0
Distance            0
CouncilArea         1
Bedroom2            0
Bathroom            0
Car                 0
Landsize         1583
BuildingArea     3998
Price            1685
dtype: int64

In [ ]:
# selected columns having null values are filling with mean values
data['Landsize']=data['Landsize'].fillna(data['Landsize'].mean())
data['BuildingArea']=data['BuildingArea'].fillna(data['BuildingArea'].mean())

In [ ]:
data.isnull().sum()

Suburb              0
Rooms               0
Type                0
Method              0
SellerG             0
Regionname          1
Propertycount       0
Distance            0
CouncilArea         1
Bedroom2            0
Bathroom            0
Car                 0
Landsize            0
BuildingArea        0
Price            1685
dtype: int64

In [ ]:
# dropping remaining Null values
data.dropna(inplace=True)

In [ ]:
data.isnull().sum()

Suburb           0
Rooms            0
Type             0
Method           0
SellerG          0
Regionname       0
Propertycount    0
Distance         0
CouncilArea      0
Bedroom2         0
Bathroom         0
Car              0
Landsize         0
BuildingArea     0
Price            0
dtype: int64

In [ ]:
# performing OneHotEncoding
data=pd.get_dummies(data,drop_first=True)
data.head()

   Rooms  ...  CouncilArea_Yarra City Council
1      2  ...                               1
2      2  ...                               1
4      3  ...                               1
5      3  ...                               1
6      4  ...                               1

[5 rows x 280 columns]

In [ ]:
x=data.drop('Price',axis=1)
y=data['Price']

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=2)

In [ ]:
# Linear Regression
from sklearn.linear_model import LinearRegression
reg=LinearRegression()
reg.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
reg.score(x_train,y_train)

0.7167271323849513

In [ ]:
reg.score(x_test,y_test)

-79.69231318966452

In [ ]:
# Lasso Regression
from sklearn.linear_model import Lasso
reg_lasso=Lasso(alpha=50,max_iter=100,tol=0.1)
reg_lasso.fit(x_train,y_train)

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_coordinate_descent.py:476: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 284469038919063.56, tolerance: 196958278731617.62
  positive)

Lasso(alpha=50, copy_X=True, fit_intercept=True, max_iter=100, normalize=False,
      positive=False, precompute=False, random_state=None, selection='cyclic',
      tol=0.1, warm_start=False)

In [ ]:
reg_lasso.score(x_train,y_train)

0.7158049388423331

In [ ]:
reg_lasso.score(x_test,y_test)

0.6806469587141054

In [ ]:
# Ridge Regression
from sklearn.linear_model import Ridge
reg_ridge=Ridge(alpha=50,max_iter=100,tol=0.1)
reg_ridge.fit(x_train,y_train)

Ridge(alpha=50, copy_X=True, fit_intercept=True, max_iter=100, normalize=False,
      random_state=None, solver='auto', tol=0.1)

In [ ]:
reg_ridge.score(x_train,y_train)

0.694540178169357

In [ ]:
reg_ridge.score(x_test,y_test)

0.678081928406262